@charset "utf-8";

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg'),
         url('../fonts/Montserrat-Thin.ttf') format('truetype'),
         url('../fonts/Montserrat-Thin.woff') format('woff'),
         url('../fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg'),
         url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
         url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
         url('../fonts/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
         url('../fonts/Montserrat-Light.ttf') format('truetype'),
         url('../fonts/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
         url('../fonts/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
         url('../fonts/Montserrat-Medium.ttf') format('truetype'),
         url('../fonts/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
         url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
         url('../fonts/Montserrat-Bold.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'),
         url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
         url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
         url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg'),
         url('../fonts/Montserrat-Black.ttf') format('truetype'),
         url('../fonts/Montserrat-Black.woff') format('woff'),
         url('../fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html,
body {
	position: relative;
}
body {
	min-width: 320px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
    font-family: 'Montserrat', sans-serif;
}
body .body-wrap {
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
	text-decoration: none;
	color: inherit;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
a[href^="tel:"], a[href^="mailto:"] {
    white-space: nowrap;
}
button {
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
button:hover {
    cursor: pointer;
}
input, textarea, button, select {
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border-color: #ff0000 !important;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.container {
	position: relative;
	max-width: 1230px;
    width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #222222;
}
input:-moz-placeholder {
    color: #222222;
}
textarea::-webkit-input-placeholder {
    color: #222222;
}
textarea:-moz-placeholder {
    color: #222222;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.mobile-btn {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 1;
    cursor: pointer;
}
.mobile-btn .mobile-btn-el{
    position: absolute;
    border-radius: 100px;
    top: calc(50% - 1px);
    left: 5px;
    width: 20px;
    height: 2px;
    background-color: #0552a4;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 1px);
    width: 20px;
    height: 2px;
    background-color: #0552a4;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
    content: '';
    position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 1px);
    width: 20px;
    height: 2px;
    background-color: #0552a4;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.close-btn {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 10;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.close-btn::after {
    content: '';
    position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 1px);
    width: 20px;
    height: 2px;
    background-color: #0552a4;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
    content: '';
    position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 1px);
    width: 20px;
    height: 2px;
    background-color: #0552a4;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
    bottom: 0;
	left: -200%;
	box-sizing: border-box;
	width: 100%;
	padding: 70px 30px;
	background-color: #ffffff;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-menu.active {
	left: 0;
}

.policy-text {
    display: inline-block;
    max-width: 100%;
    font-size: 11px;
    line-height: 1.2;
    position: relative;
    text-align: left;
    padding-left: 30px;
    margin-top: 15px;
}
.policy-text a {
    border-bottom: 1px solid transparent;
}
.policy-text a:hover {
    border-color: #ffcc00;
}
.policy-text .radio-btn {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #ffcc00;
    background-color: #ffffff;
    border-radius: 4px;
    left: 0;
    top: calc(50% - 10px);
    cursor: pointer;
}
.policy-text .radio-btn.error {
    border-color: #ff0000;
}
.policy-text .radio-btn.active {
    background-color: #ffcc00;
}
.policy-text .radio-btn.active::before {
    content: '';
    display: block;
    width: 6px;
    height: 2px;
    position: absolute;
    left: 3px;
    top: 10px;
    background-color: #222222;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.policy-text .radio-btn.active::after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    left: 6px;
    top: 8px;
    background-color: #222222;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	
}
@media screen and (max-width: 1024px){
    body.no-scroll {
        height: 100vh !important;
        overflow: hidden !important;
    }
    .mobile-btn, .mobile-menu, .close-btn {
        display: block;
    }
}
@media screen and (max-width: 768px){
    .container {
        padding: 0 10px;
    }
    .mobile-menu {
        padding: 50px 10px;
    }
}